body{
  background-color: darkslategrey;
}
h1{
  color: crimson;
  font-family: sans-serif;
}
table{
  border: 1px solid black;
  background-color: burlywood;
}
.djangoTwo{
  background-color: khaki
  color: darkslategrey;
  font-family: "Comic Sans MS", serif;
  align-items: center;
  align-self: center;
}
